/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    animation-name: coloring;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.navcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    
}
.navcontainer a{
    margin: 20px auto;
    display: flex;
    align-items: flex-end;
    color: black;
    text-decoration: none;
}
.navcontainer img{
    width: 150px;
    height: 35px;
}
.cars{
    display: flex;
    margin: 20px auto;
    height: 150px;
    justify-content: center;
}
.boxes{
    display: flex;
    flex-flow: row wrap;
}
.boxes .boxa{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapa;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxb{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapb;
    animation-duration: 10s;
    animation-iteration-count: infinite
}
.boxes .boxc{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapc;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxd{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapd;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxe{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswape;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxf{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxg{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkorchid;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxh{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswaph;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxi{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapi;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.boxes .boxj{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
    margin: 25px;
    animation-name: colorswapj;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.container-about-page{
    
    width: 900px;
    margin: 0 auto;
}
button{
    background-color: white;
    border-radius: 10%;
    padding: 5px;
    border: 2px solid black;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: space-around;
    align-content: center;
    
}
.about-start{
    display: flex;
    flex-direction: column;
    border-bottom: 2px dotted black;
    padding: 20px;
}

.content1, .content2, .content3, .content4{
    width: 425px;
    margin: 20px auto;
    border-bottom: 2px dotted black;
    
}
.tower{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 98%;
}
.main-content img{
    width: 425px;
    margin-bottom: 10px;
}
.last{
    display: flex;
    flex-direction: column;
    width: 880px;
    margin: 20px auto 30px auto;
    justify-content: center;
    align-content: center;
}
@keyframes coloring {
    from {color: red;}
    to {color: blue;}
  }
@keyframes colorswapa{
    0% {background-color: teal;}
    10%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapb{
    0%{background-color: gold;}
    10%{background-color: teal;}
    20%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapc{
    0%{background-color: cadetblue;}
    10%{background-color: gold;}
    20%{background-color: teal;}
    30%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapd{
    0% {background-color: coral;}
    10%{background-color: cadetblue;}
    20%{background-color: gold;}
    30%{background-color: teal;}
    40%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswape{
    0%{background-color: crimson;}
    10% {background-color: coral;}
    20%{background-color: cadetblue;}
    30%{background-color: gold;}
    40%{background-color: teal;}
    50%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapf{
    0% {background-color: forestgreen;}
    10%{background-color: crimson;}
    20% {background-color: coral;}
    30%{background-color: cadetblue;}
    40%{background-color: gold;}
    50%{background-color: teal;}
    60%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapg{
    0% {background-color: darkorchid;}
    10% {background-color: forestgreen;}
    20%{background-color: crimson;}
    30% {background-color: coral;}
    40%{background-color: cadetblue;}
    50%{background-color: gold;}
    60%{background-color: teal;}
    70%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswaph{
    0% {background-color: hotpink;}
    10% {background-color: darkorchid;}
    20% {background-color: forestgreen;}
    30%{background-color: crimson;}
    40% {background-color: coral;}
    50%{background-color: cadetblue;}
    60%{background-color: gold;}
    70%{background-color: teal;}
    80%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapi{
    0% {background-color: indigo;}
    10% {background-color: hotpink;}
    20% {background-color: darkorchid;}
    30% {background-color: forestgreen;}
    40%{background-color: crimson;}
    50% {background-color: coral;}
    60%{background-color: cadetblue;}
    70%{background-color: gold;}
    80%{background-color: teal;}
    90%{background-color: white;}
    100%{background-color: white;}
}
@keyframes colorswapj{
    0% {background-color: dodgerblue;}
    10% {background-color: indigo;}
    20% {background-color: hotpink;}
    30% {background-color: darkorchid;}
    40% {background-color: forestgreen;}
    50%{background-color: crimson;}
    60% {background-color: coral;}
    70%{background-color: cadetblue;}
    80%{background-color: gold;}
    90%{background-color: teal;}
    100%{background-color: white;}
}